@font-face {
  font-family: pacifico;
  src: url(../Fonts/Pacifico/Pacifico-Regular.ttf);
}

/* Base */

body {
  margin: 0;
  text-align: center;
}

a {
  text-decoration: none;
  color: white;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
}

p {
  margin: 0;
}

input {
  border: 1px solid gray;
  background-color: gray;
  padding: 10px;
  height: 20px;
}

button {
  cursor: pointer;
  background-color: gray;
  border: 1px solid black;
  border-collapse: collapse;
  padding: 10px;
  line-height: 20px;
}

canvas {
  border: solid black 1px;
}

.scrolling-box {
  background-color: #eaeaea;
  display: block;
  height: 100vh;
  overflow-y: scroll;
  scroll-behavior: smooth;
  width: 100vw;
}

/* main-nav */

.main-nav {
  background-color: rgb(15, 25, 31);
  color: white;
  display: flex;
  justify-content: space-between;
  height: 40px;
  align-items: center;
  padding: 0 20px;
}

.nav-link {
  margin-right: 16px;
}

.logo {
  font-family: pacifico;
  font-size: 2rem;
}

/* canvas */

.editor-container {
  background-color: rgb(37, 18, 18);
  display: flex;
  justify-content: space-evenly;
  height: 60vh;
}

.canvas-container {
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
  width: 100%;
  height: 100%;
}

.control-box {
  padding-bottom: 20px;
  display: grid;
  grid-template: "text text text" "left center right";
  border: #ffffff 1px solid;
  margin: 20px;
  padding: 10px;
  width: 412px;
}

.control-box>* {
  margin-bottom: 10px;
  /* width: 50px; */
}

.meme-text {
  grid-area: text;
}

.left {
  grid-area: left;
}

.center {
  grid-area: center;
}

.right {
  grid-area: right;
}

/* gallery */

.main-gallery-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  padding: 10px;
  border: 1px rgba(128, 128, 128, 0.671) solid;
  background-color: #00171f;
  color: #ffffff;
}

.main-gallery-container input {
  color: #ffffff;
}

/* .gallery-container {
  display: grid;
  grid-template-columns: repeat(auto-fit,150px);
  justify-content: center;
  margin-bottom: 30px; */
/* } */

.gallery-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-bottom: 30px;
}
/* 
.gallery-container img {
  width: 35vw;
  height: 150px;
  margin: 10px;
  object-fit: cover;
  border: black 1px solid;
} */

@media (min-width: 600px) {
  .gallery-container img {
    width: 25vw;
    /* height: 250px; */
  }
}

@media (min-width: 950px) {
  .gallery-container img {
    width: 10vw;
    height: 100px;
  }
}

.topSearches {
  cursor: pointer;
  justify-content: space-evenly;
}

.modal.contact-us {
  width: 50vw;
  height: 80vh;
  position: fixed;
  top: 10vh;
  left: 25vw;
  z-index: 10;
  background: white;
  display: none;
}

.modal.contact-us form {
  flex-direction: column;
  align-items: center;
}

.modal.contact-us.open {
  display: block;
}

/* helpers */

.clean-list {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

/* flex */

.flex {
  display: flex;
}

/* screens */

.screen {
  width: 100vw;
  height: 100vh;
  opacity: 0.5;
  background-color: gray;
  z-index: 2;
  position: fixed;
  top: 0;
  left: 0;
  display: none;
}

.contact-us.open~.screen {
  display: block;
}

@keyframes open-contact-menu {
  0% {
    display: none;
    height: 0vh;
  }
  2% {
    display: block;
    height: 1vh;
  }
  10% {
    display: block;
    height: 5vh;
  }
  20% {
    display: block;
    height: 10vh;
  }
  30% {
    display: block;
    height: 15vh;
  }
  40% {
    display: block;
    height: 20vh;
  }
  50% {
    display: block;
    height: 25vh;
  }
  60% {
    display: block;
    height: 30vh;
  }
  70% {
    display: block;
    height: 35vh;
  }
  80% {
    display: block;
    height: 40vh;
  }
  90% {
    display: block;
    height: 45vh;
  }
  100% {
    display: block;
    height: 50vh;
  }
}

/* hexagonal images  */

.hex-img::before {
  content: "";
  position: absolute;
  top: 0px;
  width: 0;
  height: 3px;
  z-index: 3;
  border-bottom: calc(150px / 3.535) solid transparent;
  /*toatl width / 3.535*/
  border-right: 75px solid #00171f;
  /* half of the total width*/
  border-left: 75px solid #00171f;
  /* half of the total width*/
}

.hex-img::after {
  content: "";
  position: absolute;
  bottom: 0px;
  width: 0;
  left: 0px;
  height: 3px;
  z-index: 3;
  border-top: calc(150px / 3.535) solid transparent;
  /*toatl width / 3.535*/
  border-right: 75px solid #00171f;
  /* half of the total width*/
  border-left: 75px solid #00171f;
  /* half of the total width*/
}

.hex-img {
  width: 150px;
  /*entire before and after are depandnt on width UPDATE ALL*/
  height: 200px;
  background-size: cover;
  background-position: center center;
  position: relative;
  display: inline-block;
  /* margin-bottom: 20px; */
  /* margin-right: 20px; */
}

.hex-img a{
width: inherit;
height: inherit;
position: relative;
}
  .hex-img a img {
    position: relative;
    width: inherit;
    height: inherit;
    object-fit: cover;
    position: relative;
    top: 0;
    left: 0;
    margin: 0;
  }